<mat-toolbar>
	<span>
		<a routerLink="/"></a>
	</span>
	<span class="spacer"></span>
	<ul>
		<li>
			<a *ngIf="!authenticated" mat-button routerLink="/login">Log In</a>
			<a *ngIf="!authenticated" mat-button routerLink="/signup">Sign Up</a>	
			<a *ngIf="authenticated" mat-button routerLink="/create">Create Contact</a>	
			<a *ngIf="authenticated" mat-button routerLink="myContacts">My Contacts</a>	
			<a *ngIf="authenticated" mat-button (click)="onLogout()">Log Out</a>
		</li>
			
	</ul>
</mat-toolbar>